Package: luci-app-uhttpd
Version: 1.0.0-1
Depends: libc, uhttpd
Source: feeds/luci/applications/luci-app-uhttpd
License: Apache-2.0
Section: luci
Maintainer: Daniel Dickinson <openwrt@daniel.thecshore.com>
Architecture: all
Installed-Size: 2859
Description:  uHTTPd Webserver Configuration
