Package: luci-lib-nixio
Version: git-17.152.82987-7f6fc16-1
Depends: libc, liblua
Source: feeds/luci/libs/luci-lib-nixio
Section: luci
Architecture: mips_24kc
Installed-Size: 27224
Description:  NIXIO POSIX library
