Package: lua-bencode
Version: 2.1.0-1
Depends: libc, lua
Source: feeds/packages/lang/lua-bencode
License: MIT
Section: lang
Maintainer: Lars Gierth <larsg@systemli.org>
Architecture: mips_24kc
Installed-Size: 1455
Description:  This is a module for the lua programming language for decoding and encoding
 bencoded data which can be used to read and write torrent files for bittorrent.
