Package: libustream-mbedtls
Version: 2016-07-02-ec80adaa-2
Depends: libc, libubox, libmbedtls
Source: package/libs/ustream-ssl
License: ISC
Section: libs
Maintainer: Felix Fietkau <nbd@nbd.name>
Architecture: mips_24kc
Installed-Size: 3455
Description:  ustream SSL Library (mbedtls)
